<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <!-- <link href="/css/login/login.css" rel="stylesheet">
    <link href="/css/game/game.css" rel="stylesheet"> -->
        <title>Page Login</title>
</head>

<body>

    <div class="container-fluid">

        <div class="container" style="margin-top: 50px">
            <div class="row">
                <div class="col-lg-6 col-sm-12 m-auto">
                    <div class="card p-5">
                        <h1 class="mb-5 m-auto">Dashboard Login</h1>
                        <form action="/login/auth" method="POST" class="row g-3">
                            <div class="mb-3 row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">
                                    UserName
                                </label>

                                <div class="col-sm-8">
                                    <input type="text" name="uUsername" class="form-control" />
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">
                                    Password
                                </label>

                                <div class="col-sm-8">
                                    <input type="password" name="uPassword" class="form-control" />
                                </div>

                            </div>

                            <div class="row m-auto">
                                <button type="submit" class="btn btn-primary text-right  btn-login m-auto">
                                    <!-- float-end mb-3 -->
                                    Submit
                                </button>
                            </div>
                            <% if (error) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= error %>
                                </div>
                                <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('../partials/script'); %>

</body>

</html>